node_modules/*
cursor_rules/*

# Ignore everything in services/assets/output directory
services/assets/output/*
services/assets/output/**/*
services/assets/output/*.json*

# General output directories
**/output/
**/output/**



